[submodule "sshkeys"]
	path = sshkeys
	url = https://github.com/algorythm/sshkeys
[submodule "PowerlineFonts"]
	path = PowerlineFonts
	url = https://github.com/powerline/fonts
[submodule "powerlevel9k"]
	path = powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
